
h1,h2,h3,h4,h5,h6{
    color:#403418;}

    #content{
        max-width :1600px; 
        margin: 0 auto;
        background-color: green
    }
  

    nav a 
    #hero-msg h1, #hero-msg h4,
    .button-box,
    main section{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}

.card-img{width:800px;}  
.icon{
    width: 80px;
}
.logo {
    width: 80px;}
.inst{
    width: 80px;
}

#background {
    height: 725px;
}
    
body{
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover
.book, .join
.book:hover, .join:hover
#background
.msg
footer 
nav a:hover {
    background-color: black;
}

nav a
nav a:hover
.home-title
h4
.book, .join
.book:hover, .join:hover
.msg h2,
.msg p
footer,
footer a,
footer a:hover    {
    background-color: black;
    color: #d9c2a3;
}    
        



nav a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}   

.book{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}   

 .join
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}  
footer p a{
   
    color: #fcfbfb;
    text-decoration: none;
   
} 

footer p {
    font-size: 1.2em;
}  

footer p a:hover {
    text-decoration: underline;
}    
   